<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="employeeForm" class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="name" name="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Company</mat-label>
        <input formControlName="company" matInput placeholder="Company" name="company">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contact Number</mat-label>
        <input formControlName="contactNo" matInput placeholder="Contact Number" name="contactNo">
      </mat-form-field>
      <div class="full-width">
        <mat-label>Employement Type</mat-label>
        <select formControlName="employmentType">
          <option value=1>
            Permanent
          </option>
          <option value=2>
            PartTime
          </option>
        </select>
      </div>
      <div class="full-width">
        <mat-label>Gender</mat-label><br />
        <mat-label>Male</mat-label>
        <div class="custom-control custom-radio">
          <input id="male" type="radio" class="custom-control-input" value="1" name="gender" formControlName="gender">
          <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
          <input id="female" type="radio" class="custom-control-input" value="2" name="gender" formControlName="gender">
          <label class="custom-control-label" for="female">Female</label>
        </div>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="save()" color="primary">{{employeeId?'Update':'Add'}}</button>
  </mat-card-actions>
</mat-card>
